/* Tailwind import */
@import "tailwindcss";

/* Boxicons font */
@font-face {
  font-family: 'Boxicons';
  src: url('/fonts/boxicons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* FCP için önemli */
}

/* Kendi CSS kuralları */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar stilleri */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: oklch(39.6% 0.141 25.723); border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: oklch(39.6% 0.141 25.723); }

@media (max-width: 768px) {
  .electric-border {
    animation: none;
    box-shadow: none;
  }
}
