/* 1️⃣ Google Fonts en başta */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 2️⃣ Tailwind import */
@import "tailwindcss";

/* 3️⃣ Kendi CSS kuralları */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar stilleri */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: oklch(39.6% 0.141 25.723); border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: oklch(39.6% 0.141 25.723); }
