/* Tailwind import */
@import "tailwindcss";

/* Kendi CSS kuralları */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar stilleri */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: #b91c1c; border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: #b91c1c; }

@media (max-width: 768px) {
  .electric-border {
    animation: none;
    box-shadow: none;
  }
}
